@import url(../../colores.css);

.chat {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mensajes {
    height: 90%;
}

.envio {
    width: 80%;
    height: 100px;
    bottom: 110px;
    padding: 25px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.texto {
    resize: none;
    height: 70px;
    position: relative;
    border: 1px solid var(--platinum);
    color: var(--platinum);
    font-size: 25px;
    padding-top: calc((70px - 1em) / 2);
    padding-bottom: calc((70px - 1em) / 2);
    border-radius: 50px;
    margin-right: 10px;
    padding-left: 20px;
    overflow: hidden;
    flex: 1;
}

.enviar {
    width: 60px;
    height: 60px;
    border: 1px solid var(--platinum);
    border-radius: 50%;
}