@import url(../../colores.css);
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
}

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    margin-right: 150px;
    background-color: var(--black)
}

/* Cambiar el color del "thumb" (la parte deslizante) */
::-webkit-scrollbar-thumb {
    background-color: var(--platinum); /* Color del "thumb" */
    border-radius: 6px; /* Radio de borde del "thumb" */
}

.mainApp {
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow-x: none;
    background-color: var(--black);
    background-image: url(../../../../../img/juegos/TWH/icono.jpg);
    background-size: 100% 100%;
}

#close-btn {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    border: 1px solid var(--platinum);
    border-radius: 50%;
}
