.body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    border-top: 2px solid black;
}

.menu-leteral {
    width: 18%;
    background: black;
    z-index: 0;
    border-right:5px solid white;
}

#contex {
    flex: 1; /* El div ocupará todo el espacio restante */
    text-align: center; /* Centrar el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    height: 100vh;
    background-color: azure;
}