@import url(../colores.css);

.body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    border-top: 1px solid var(--platinum);
}

.menu-leteral {
    width: 18%;
    background: var(--black);
    z-index: 0;
}

.contex {
    width: 80%;
    text-align: center; /* Centrar el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    height: 100vh;
    /* Poner imagen de fondo a futuro aqui en contex background-image: ; */
    z-index: 0;
}