.body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    border-top: 2px solid black;
}

#menu-leteral{
    flex: 0; /* El div ocupará todo el espacio restante */
    width: 100%;
    background: black;
    z-index: 0;
    border-right:5px solid white;
}

#contex {
    flex: 1; /* El div ocupará todo el espacio restante */
    margin-top: 5%; /* Margen del 10% respecto al borde superior del contenedor */
    text-align: center; /* Centrar el texto horizontalmente */
    display: flex;
    width: 100%;
    justify-content: center; /* Centrar horizontalmente */
}