#lista {
    z-index: 0; 
    position: absolute;
    position: flex;
    width: 25vh;
    height: 100vh;
    flex: 0 0 auto;
    order: 0;
    background-color: black;

    &:after {
      content: ''; /* Contenido vacio para que se vea el elemento*/
      position: absolute; /* Posicion */
      width: 12%; /* Largo del borde */
      height: 100%; /* Grosor del borde */
      background: #181818; /* Color del borde */
      top: calc(0%); /* Posición vertical centrada */
      right: -11.7%; /* Posición a la derecha */
    }
}

.list-item {
    z-index: 1;
    margin-top: 20%;
    background: #000;
    color: #575757;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 3.5em; /* Tamaño vertical de los botones */
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    text-decoration: none;
    transition: all .25s linear;
    
    &:hover {
      background-color: #ff6e42;
      
      &:after {
        background-color: #b65234;
      }
    }
  
    /* Borde de abajo sin el raton encima */
    &:after {
      content: ''; /* Contenido vacio para que se vea el elemento*/
      position: absolute; /* Posicion */
      transition: all .25s linear; /* Pequeño delay como efecto especial*/
      width: 25%; /* Largo del borde */
      height: 50%; /* Grosor del borde */
      background: #181818; /* Color del borde */
      top: calc(10%); /* Posición vertical centrada */
      right: -18%; /* Posición a la derecha */
      transform: rotate(45deg) skew(0, 45deg); /* Inclinacion de los bordes */
    }
    
    &:before {
      height: 2.5em;
      background-color: #121212;
      top: .25em;
      left: -.5em;
      transform: skewY(-45deg);
    }
    
    /*
    &:last-child{
      height: 100vh;
    }*/
}