@import url(../colores.css);

#lista-lateral {
  user-select: none;
  z-index: 0; 
  position: absolute;
  position: flex;
  width: 18%;
  height: 100%;
  flex: 0 0 auto;
  order: 0;
  background-color: var(--black);

  /* background-color: rgb(85, 85, 85); */

  &:after {
    content: ''; /* Contenido vacio para que se vea el elemento*/
    position: absolute; /* Posicion */
    width: 12.4%;
    height: 100%;
    background: var(--black);
    border-left: 1px solid var(--platinum);
    border-right: 1px solid var(--platinum);
    top: calc(0%); /* Posición vertical centrada */
    right: -11.9%; /* Posición a la derecha */
  }

  & li:first-child {
    padding-top: 20%;
  }

  & li:last-child a {
      border-bottom: 1px solid var(--platinum);
    
    &::after{
      border-right: 1px solid var(--platinum);
    }
  }
  /* COMO ACCEDER AL ALEMENTO LI - A - CLASS ITEM PARA MODIFICAR EL ULTIMO ELEMENTO*/
}

.list-item {
  z-index: 1;
  font-size: 15px;
  background: var(--black);
  text-align: center;
  color: white; 
  max-height: 5em;
  line-height: 5em; /* Tamaño vertical de los botones */
  border-top: 1px solid var(--platinum);
  border-right: 1px solid var(--platinum);
  position: relative;
  display: block;
  text-decoration: none;
  transition: all .25s linear;
  
  &:hover {
    background-color: var(--jade);
    color: var(--platinum);
    
    &:after {
      background-color: var(--castetlon);
    }
  }

  /* Borde de abajo sin el raton encima */
  &:after {
    border-bottom: 1px solid var(--platinum);
    border-left: 1px solid var(--platinum); /* borde de abajo*/
    content: ''; /* Contenido vacio para que se vea el elemento*/
    position: absolute; /* Posicion */
    transition: all .25s linear; /* Pequeño delay como efecto especial*/
    width: 24%;
    height: 55%; /* Grosor del borde */
    background: var(--black); /* Color del borde */
    top: calc(4.1%); /* Posición vertical centrada */
    right: -18%; /* Posición a la derecha */
    transform: rotate(45deg) skew(0, 45deg); /* Inclinacion de los bordes */
  }
}

#nav_bar_clicked {
  background-color: var(--jade);
  
  &::after {
      background-color: var(--castetlon);
  }
}
