@import url(../colores.css);

#lista-lateral {
  user-select: none;
  z-index: 0; 
  position: absolute;
  position: flex;
  width: 18%;
  height: 100%;
  flex: 0 0 auto;
  order: 0;
  background-color: var(--black);

  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 100%;
    background: var(--black);
    border-left: 1px solid var(--platinum);
    border-right: 1px solid var(--platinum);
    top: calc(0%); /* Posici칩n vertical centrada */
    right: -32px; /* Posici칩n a la derecha */
  }

  & li:first-child {
    padding-top: 50px;
  }

  & li:last-child a {
      border-bottom: 1px solid var(--platinum);
    
    &::after{
      border-right: 1px solid var(--platinum);
    }
  }
}

.list-item { 
  background: var(--black);
  text-align: center;
  color: var(--platinum);
  align-items: center;
  text-align: center;
  font-size: 20px;
  height: 76px;
  max-height: 100px;
  line-height: 5em; /* Tama침o vertical de los botones */
  border-top: 1px solid var(--platinum);
  border-right: 1px solid var(--platinum);
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all .25s linear;
  z-index: 1;
  
  &:hover {
    background-color: var(--jade);
    color: var(--platinum);
    
    &:after {
      background-color: var(--castetlon);
    }
  }

  &:after {
    border-left: 1px solid var(--platinum);
    content: '';
    position: absolute;
    transition: all .25s linear; /* Peque침o delay como efecto especial*/
    width: 53px; /* Largo del after */
    height: 42px; /* Ancho del after */
    background: var(--black);
    right: -44px;
    top: 0px;
    transform: rotate(45deg) skew(0, 45deg); /* Inclinacion de los bordes */
  }
}

#nav_bar_clicked {
  background-color: var(--jade);
  
  &::after {
      background-color: var(--castetlon);
  }
}