#jugar {
    width: 100%;
    height: 12%;
    background-color: #ff6e42;
    margin-top: 1.5%;
    align-items: center;
    order: 1;
}

#info {
    width: 100%;
    height: 100%;
    background-color: pink;
    order: 1;
}

#comunidad {
    width: 40%;
    height: 100%;
    background-color: greenyellow;
    order: 2;
}

button {
    display: inline-block; /* Los botones se muestran en línea */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita subrayado de los enlaces */
    border: none; /* Quita borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 0; /* Borde recto */
}

#jbotom {

}

#ibotom {

}