<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/secundary/noticias/publicaciones.css" />
    <link rel="stylesheet" href="css/secundary/noticias/destacadas.css" />
    <title>Document</title>

</head>
<body>

    <!-- https://www.youtube.com/watch?v=LBAThoUn3rU HACER CARROUSEL EN HTML PARA LAS PUBLICACIONES -->
    <!-- https://youtu.be/NbnSynwqplU?si=UODXtPuZCJKX6WBy PARTICULAS EN CSS -->
    <!-- https://elements.envato.com/es/vanderick-fantasy-game-font-76K5FJA?_ga=2.108011781.680894902.1713259122-1910407575.1713259122&language_code=es&utm_nooverride=1 POSIBLE FUENTE GUAPA-->

    <div class="publicaciones">
        <div class="destacadas">
            <h1>PUBLICACIONES DESTACADAS</h1>
            <div class="carousel">
                <input type="radio" name="slider" id="s1" checked>
                <input type="radio" name="slider" id="s2">
                <input type="radio" name="slider" id="s3">
                <input type="radio" name="slider" id="s4">
                <input type="radio" name="slider" id="s5">

                <div class="cards_destacadas">
                    <label for="s1" id="slide1">
                        <div class="card_destacadas" style="background-image: url('../img/publicaciones/destacadas/img1.jpg');">
                            <button class="expand-button" onclick="expand_card()"><i class="fi fi-ts-angle-small-down"></i></button>
                            <div class="infos">
                                <span class="name">Publicacion 1</span>
                                <span class="lorem">Texto de ejemplo de pie de foto</span>
                                
                                <a href="" class="btn-details">Saber mas</a>
                            </div>
                        </div>
                    </label>
                    <label for="s2" id="slide2">
                        <div class="card_destacadas" style="background-image: url('../img/publicaciones/destacadas/img2.jpg');">
                            <button class="expand-button" onclick="expand_card()"><i class="fi fi-ts-angle-small-down"></i></button>
                            <div class="infos">
                                <span class="name">Publicacion 2</span>
                                <span class="lorem">Texto de ejemplo de pie de foto</span>
                                
                                <a href="" class="btn-details">Saber mas</a>
                            </div>
                        </div>
                    </label>
                    <label for="s3" id="slide3">
                        <div class="card_destacadas" style="background-image: url('../img/publicaciones/destacadas/img3.jpg');">
                            <button class="expand-button" onclick="expand_card()"><i class="fi fi-ts-angle-small-down"></i></button>
                            <div class="infos">
                                <span class="name">Publicacion 3</span>
                                <span class="lorem">Texto de ejemplo de pie de foto</span>
                                
                                <a href="" class="btn-details">Saber mas</a>
                            </div>
                        </div>
                    </label>
                    <label for="s4" id="slide4">
                        <div class="card_destacadas" style="background-image: url('../img/publicaciones/destacadas/img4.jpg');">
                            <button class="expand-button" onclick="expand_card()"><i class="fi fi-ts-angle-small-down"></i></button>
                            <div class="infos">
                                <span class="name">Publicacion 4</span>
                                <span class="lorem">Texto de ejemplo de pie de foto</span>
                                
                                <a href="" class="btn-details">Saber mas</a>
                            </div>
                        </div>
                    </label>
                    <label for="s5" id="slide5">
                        <div class="card_destacadas" style="background-image: url('../img/publicaciones/destacadas/img5.jpg');">
                            <button class="expand-button" onclick="expand_card()"><i class="fi fi-ts-angle-small-down"></i></button>
                            <div class="infos">
                                <span class="name">Publicacion 5</span>
                                <span class="lorem">Texto de ejemplo de pie de foto</span>
                                
                                <a href="" class="btn-details">Saber mas</a>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
        <div class="lista-publicaciones">
            <h1>PUBLICACIONES NORMALES</h1>
            <div class="cards">
                <div class="card">
                    <div class="image">
                        <img src="../img/publicaciones/img1.jpg" alt="">
                        <div class="dots">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="infos">
                        <span class="name">Publicacion 1</span>
                        <span class="lorem">Texto de ejemplo de pie de foto</span>
                        
                        <a href="details" class="btn-details">Saber mas</a>
                        
                        <div class="actions">
                            <i class="fi fi-rr-home"></i>
                            <i class="fi fi-ss-user"></i>
                            <i class="fi fi-sr-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/publicaciones/img2.jpg" alt="">
                        <div class="dots">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="infos">
                        <span class="name">Publicacion 2</span>
                        <span class="lorem">Texto de ejemplo de pie de foto</span>
                        
                        <a href="details" class="btn-details">Saber mas</a>
                        
                        <div class="actions">
                            <i class="fi fi-rr-home"></i>
                            <i class="fi fi-ss-user"></i>
                            <i class="fi fi-sr-heart"></i>
                        </div>
                    </div>
                </div>
            
                <div class="card">
                    <div class="image">
                        <img src="../img/publicaciones/img3.jpg" alt="">
                        <div class="dots">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="infos">
                        <span class="name">Publicacion 3</span>
                        <span class="lorem">Texto de ejemplo de pie de foto</span>
                        
                        <a href="details" class="btn-details">Saber mas</a>
                        
                        <div class="actions">
                            <i class="fi fi-rr-home"></i>
                            <i class="fi fi-ss-user"></i>
                            <i class="fi fi-sr-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/publicaciones/img4.jpg" alt="">
                        <div class="dots">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="infos">
                        <span class="name">Publicacion 4</span>
                        <span class="lorem">Texto de ejemplo de pie de foto</span>
                        
                        <a href="details" class="btn-details">Saber mas</a>
                        
                        <div class="actions">
                            <i class="fi fi-rr-home"></i>
                            <i class="fi fi-ss-user"></i>
                            <i class="fi fi-sr-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/publicaciones/img5.jpg" alt="">
                        <div class="dots">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="infos">
                        <span class="name">Publicacion 5</span>
                        <span class="lorem">Texto de ejemplo de pie de foto</span>
                        
                        <a href="details" class="btn-details">Saber mas</a>
                        
                        <div class="actions">
                            <i class="fi fi-rr-home"></i>
                            <i class="fi fi-ss-user"></i>
                            <i class="fi fi-sr-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="../img/publicaciones/img1.jpg" alt="">
                        <div class="dots">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                    <div class="infos">
                        <span class="name">Publicacion 6</span>
                        <span class="lorem">Texto de ejemplo de pie de foto</span>
                        
                        <a href="details" class="btn-details">Saber mas</a>
                        
                        <div class="actions">
                            <i class="fi fi-rr-home"></i>
                            <i class="fi fi-ss-user"></i>
                            <i class="fi fi-sr-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../controller/carousel.js"></script>

</body>
</html>