<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <link rel="stylesheet" href="css/secundary/navigation_bar.css" />
    <link rel="stylesheet" href="css/secundary/contenedor.css" />

</head>
<body>
    <div class="body">
        <aside class="menu-leteral">
            <ul id="lista-lateral">
                <li><a class="list-item" href="#" onclick="cargarContenido('./html/club_socios/publicaciones.html', 'contex'); configurarLista(this);">Publicaciones</a></li>
                <li><a class="list-item" href="#" onclick="configurarLista(this);">Foro Socios</a></li>
                <li><a class="list-item" href="#" onclick="configurarLista(this);">The Wandering Hunter</a></li>
                <li><a class="list-item" href="#" onclick="configurarLista(this);">Futuros proyectos...</a></li>
            </ul>
        </aside>

        <div class="contex">
            PRUEBA
        </div>
    </div>
</body>
</html>