<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/inicio.css" />

</head>
<body>
    <!-- Este contenido se vera como muestra de inicio -->
    <div class="index">
        <div class="slider">
            <div class="list">

                <!--
                    MENCIONES A LOS CREADORES DE LAS IMAGENES POR DEFECTO (CAMBIAR MAS ADELANTE)
                    <a href="https://www.freepik.es/foto-gratis/pintura-lago-montana-montana-al-fondo_40965130.htm#query=fondos%20de%20pantalla&position=0&from_view=keyword&track=ais&uuid=43c6ad42-3eb8-4cdd-bc6a-86e4a6a1c598">Imagen de vecstock</a> en Freepik
                    <a href="https://www.freepik.es/vector-gratis/noche-oceano-paisaje-luna-llena-estrellas-brillan_17740155.htm#query=fondos%20de%20pantalla&position=1&from_view=keyword&track=ais&uuid=43c6ad42-3eb8-4cdd-bc6a-86e4a6a1c598">Imagen de upklyak</a> en Freepik
                -->

                <div class="item active">
                    <img src="../img/index/img1.jpg" alt="">
                    <div class="content">
                        <p>desing</p>
                        <h2>Slider 01</h2>
                        <p>
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/index/img2.jpg" alt="">
                    <div class="content">
                        <p>desing</p>
                        <h2>Slider 02</h2>
                        <p>
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/index/img3.jpg" alt="">
                    <div class="content">
                        <p>desing</p>
                        <h2>Slider 03</h2>
                        <p>
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/index/img4.jpg" alt="">
                    <div class="content">
                        <p>desing</p>
                        <h2>Slider 04</h2>
                        <p>
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                            Uno de los platos más emblemáticos de la gastronomía española es la paella, originaria de la
                        </p>
                    </div>
                </div>
            </div>

            <div class="arrows">
                <button id="prev"><i class="fi fi-rr-angle-left"></i></button>
                <button id="next"><i class="fi fi-rr-angle-right"></i></button>
            </div>

            <div class="thumbnail">
                <div class="item active">
                    <img src="../img/index/img1.jpg">
                    <div class="content">
                        Name Slider
                    </div>
                </div>
                <div class="item">
                    <img src="../img/index/img2.jpg">
                    <div class="content">
                        Name Slider
                    </div>
                </div>
                <div class="item">
                    <img src="../img/index/img3.jpg">
                    <div class="content">
                        Name Slider
                    </div>
                </div>
                <div class="item">
                    <img src="../img/index/img4.jpg">
                    <div class="content">
                        Name Slider
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script para poner el inicio -->
    <script src="../controller/inicio.js"></script>

</body>
</html>