<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap">

    <!-- ICONOS -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'> <!-- CORREO -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'> <!-- Ojo -->
    

    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/top_bar.css">

    <title>Document</title>
</head>

<body>
    <div class="mainApp">
        <div class="top-bar">
            <div class="title-bar">
                <button id="ShowHidenMenus" class="toggleButton">
                    <ul>
                        <li>
                            <i class="fi fi-sr-align-justify"></i>
                            <ul class="left-menu">
                                <li id="reload-btn"><a href="#">Reload</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Exit</a></li>
                            </ul>
                        </li>
                    </ul>
                </button>

                <div class="title">
                    The Hunter Studio
                </div>
            </div>
            <div class="title-bar-button">
                <button id="minimized-btn" class="top-btn minimized-btn">
                    <i class="fi fi-br-window-minimize"></i>
                </button>
                <button id="maximized-btn" class="top-btn maximized-btn">
                    <i class="fi fi-rs-window-maximize"></i>
                </button>
                <button id="close-btn" class="top-btn close-btn">
                    <i class="fi fi-rr-cross"></i>
                </button>
            </div>
        </div>

        <section class="login">
            <div class="contenedor">
                <div class="formulario">
                    <form action="#">
                        <h2>Inicio de Sesion</h2>

                        <div class="input-contenedor">
                            <i class="fi fi-rr-envelope"></i>
                            <input type="email" required>
                            <label for="#">Email</label>
                        </div>

                        <div class="input-contenedor">
                            <i class="fi fi-rr-eye-crossed mostrar_contraseña" data-password-field="user_password"
                                onclick="mostrar(this, 'password-field')"></i>
                            <input type="password" class="password-field" required>
                            <label for="#">Contraseña</label>
                        </div>

                        <div class="olvidar">
                            <label for="#">
                                <input type="checkbox"> Recordar.
                                <a href="#">Olvidé la constraseña</a>
                            </label>
                        </div>
                    </form>

                    <div>
                        <a href="../index.html"><button>Acceder</button></a>

                        <div class="registrar">
                            <p>No tengo cuenta <a href="./registro.html">Crear una</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="../js/login.js"></script>
    <script src="../js/mostrar_contraseña.js"></script>
    <script src="../js/top_bar.js"></script>

</body>
</html>