<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title> 
    
    <link rel="stylesheet" href="css/secundary/navigation_bar.css" />
    <link rel="stylesheet" href="css/secundary/contenedor.css" />
</head>

<body>

    <div class="body">
        <aside class="menu-leteral">
            <ul id="lista-lateral">
                <li><a class="list-item" href="#" onclick="cargarContenido('./html/proyectos/TWH.html', 'contex'); configurarLista(this);">The Wandering Hunter</a></li>
                <li><a class="list-item" href="#" onclick="cargarContenido('./html/proyectos/regiones.html', 'contex'); configurarLista(this);">Regiones</a></li>
                <li><a class="list-item" href="#" onclick="cargarContenido('./html/proyectos/elementos.html', 'contex'); configurarLista(this);">Personajes</a></li>
                <li><a class="list-item" href="#" onclick="cargarContenido('./html/proyectos/elementos.html', 'contex'); configurarLista(this);">Elementos</a></li>
                <li><a class="list-item" href="#" onclick="cargarContenido('./html/proyectos/elementos.html', 'contex'); configurarLista(this);">Armas</a></li>
                <li><a class="list-item" href="#" onclick="configurarLista(this);">Otros proyectos...</a></li>
            </ul>
        </aside>

        <div class="contex"></div>
          
    </div>

</body>
</html> 