<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navigation_bar.css" />
    <link rel="stylesheet" href="css/contenedor.css" />
</head>

<body>

    <div class="body">
        <aside>
            <ul id="menu-lateral">
                <li><a class="list-item" href="#">Elemento 1</a></li>
                <li><a class="list-item" href="#">Elemento 2</a></li>
                <li><a class="list-item" href="#">Elemento 3</a></li>
                <li><a class="list-item" href="#">Elemento 4</a></li>
            </ul>
        </aside>

        <div id="contex">
            PRUEBA
        </div>
    </div>

</html>