@import url(../../common/colors.css);


.chat {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mensajes {
    height: 72%;
    padding-top: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

.mensajes::-webkit-scrollbar {
    width: 5px;
    margin-right: 150px;
    background-color: rgb(0, 0, 0, 0);
}

.mensajes::-webkit-scrollbar-track {
    background: var(--black);
}

.mensajes::-webkit-scrollbar-thumb {
    background-color: var(--platinum);
    border-radius: 6px;
}

.mensajes::-webkit-scrollbar-thumb:hover {
    background: var(--jade);
}

.envio {
    width: 80%;
    height: 80px;
    bottom: 110px;
    padding: 40px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.texto {
    resize: none;
    height: 50px;
    position: relative;
    border: 1px solid var(--platinum);
    font-size: 25px;
    padding-top: calc((45px - 1em) / 2);
    padding-bottom: calc((55px - 1em) / 2);
    border-radius: 50px;
    margin-right: 10px;
    padding-left: 30px;
    overflow: hidden;
    flex: 1;
}

.enviar {
    width: 55px;
    height: 55px;
    border: 1px solid var(--platinum);
    border-radius: 50%;
}

.enviar:hover {
    background-color: var(--black);
}

.enviar:active {
    background-color: var(--jade);
}