:root {
    --jade: #26AB62;
    --black: #202020;
    --castetlon: #155833;
    --platinum: #E4E4E4;

    /* colors lucia... */
    --ojos-verde: #556b2f;
    --ojos-gris: #7c7164;
    --ojos-blanco: #dbd4cf; /* El brillo de sus ojos */
    --ojos-marron: #71624d;
    --pelo-blanco: #a89378;
}