@import url(../../common/colors.css);

.fuego {
  font-size: 1.5em; /* Tamaño de letra ajustado */
  text-shadow: 0px 0px 5px #EACC32, /* Primer resplandor */
               2px 1px 6px #EACC32,
               -2px 1px 6px #EACC32, /* Parte de luz */
               0px -3px 7px #FF2600,
               0px -6px 7px #FF2600,
               0px -10px 7px #FF2600, /* Subida del fuego */
               0px -15px 7px #848586; /* Azuleo de la llama */
}

.agua {
  font-size: 1.5em; /* Tamaño de letra ajustado */
  text-shadow: 0px 0px 5px #00E3FF, /* Primer resplandor */
               2px 1px 6px #00E3FF,
               -2px 1px 6px #00E3FF, /* Parte de luz */
               0px -3px 7px #0008FF,
               0px -6px 7px #0008FF,
               0px -10px 7px #0008FF, /* Subida del fuego */
               0px -15px 7px #FFF; /* Azuleo de la llama */
}

.aire {
  font-size: 1.5em; /* Tamaño de letra ajustado */
  text-shadow: 0px 0px 5px #8EE5EE, /* Primer resplandor */
               2px 1px 6px #8EE5EE,
               -2px 1px 6px #8EE5EE, /* Parte de luz */
               0px -3px 7px #48D1CC,
               0px -6px 7px #48D1CC,
               0px -10px 7px #48D1CC, /* Subida del fuego */
               0px -15px 7px #FFF; /* Azuleo de la llama */
}

.vida {
  font-size: 1.5em; /* Tamaño de letra ajustado */
  text-shadow: 0px 0px 5px var(--pelo-blanco), /* Primer resplandor */
               2px 1px 6px var(--pelo-blanco),
               -2px 1px 6px var(--pelo-blanco), /* Parte de luz */
               0px -3px 7px var(--ojos-marron),
               0px -6px 7px var(--ojos-gris),
               0px -10px 7px var(--ojos-verde), /* Subida del fuego */
               0px -15px 7px #000000; /* Azuleo de la llama */
}

.electricidad {
  font-size: 1.5em; /* Tamaño de letra ajustado */
  text-shadow: 0px 0px 5px #9B30FF, /* Primer resplandor */
               2px 1px 6px #9B30FF,
               -2px 1px 6px #9B30FF, /* Parte de luz */
               0px -3px 7px #7500FF,
               0px -6px 7px #7500FF,
               0px -10px 7px #7500FF, /* Subida del fuego */
               0px -15px 7px #FFF; /* Azuleo de la llama */
}

.roca {
  font-size: 1.5em; /* Tamaño de letra ajustado */
  text-shadow: 0px 0px 5px #808080, /* Primer resplandor */
               2px 1px 6px #808080,
               -2px 1px 6px #808080, /* Parte de luz */
               0px -3px 7px #4F4F4F,
               0px -6px 7px #4F4F4F,
               0px -10px 7px #4F4F4F, /* Subida del fuego */
               0px -15px 7px #000000; /* Azuleo de la llama */
}