@import url(../../colores.css);

.chat {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mensajes {
    height: 90%;
}

.admin-message {
    background-color: #ffcccc;
    color: #333;
}

.regular-message {
    background-color: #ccffcc;
    color: #333;
}

.envio {
    width: 80%;
    height: 100px;
    bottom: 110px;
    padding: 40px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.texto {
    resize: none;
    height: 60px;
    position: relative;
    border: 1px solid var(--platinum);
    font-size: 25px;
    padding-top: calc((55px - 1em) / 2);
    padding-bottom: calc((55px - 1em) / 2);
    border-radius: 50px;
    margin-right: 10px;
    padding-left: 20px;
    overflow: hidden;
    flex: 1;
}

.enviar {
    width: 60px;
    height: 60px;
    border: 1px solid var(--platinum);
    border-radius: 50%;
}

.enviar:hover {
    background-color: var(--black);
}

.enviar:active {
    background-color: var(--jade);
}