@import url(../../colores.css);
@import url(./letras.css);

.slider-container {
    padding-bottom: 8%;
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 70px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img {
    height: 400px;
}

.slider-img.active {
    width: 380px !important;
}

.slider-img.active img {
    filter: brightness(0.5);
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
    opacity: 0;
}

.slider-img.active .details {
    align-items: center;
    text-align: center;
    top: 30%;
    filter: brightness(1.5);
    opacity: 1;

    & h1 {
        font-size: 50px;
    }
}