@import url(../../colores.css);

#jugar {
    width: 100%;
    height: 11.5%;
    display: flex;
    justify-content: space-between;
    background-color: var(--jade);
    border: 1px solid var(--platinum) ;
    border-left: 0px;
    margin-top: 2.4%;
    order: 1;
}

#info {
    width: 100%;
    height: 100%;
    order: 1;
}

#comunidad {
    border-left: 1px solid var(--platinum);
    width: 40%;
    height: 100%;
    background-color: var(--castetlon);
    order: 2;
}