<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/secundary/ventanas/top_bar_ventanas.css" />

    <title>Document</title>
</head>
<body>
    <div class="mainApp">
        <div class="top-bar">
            <div class="title-bar">
                <button id="ShowHidenMenus" class="toggleButton">
                    <i class="fi fi-sr-align-justify"></i>
                </button>   
                <div class="title">
                    The Hunter Studio
                </div>
            </div>
            <div class="title-bar-button">
                <button id="minimized-btn" class="top-btn minimized-btn">
                    <i class="fi fi-br-window-minimize"></i>
                </button>
                <button id="close-btn" class="top-btn close-btn">
                    <i class="fi fi-rr-cross"></i>
                </button>
            </div>
        </div>
        <div class="content-area">
            <h1>HOLA</h1>
        </div>
    </div>

    <script src="../../js/top_bar.js"></script>

</body>
</html>