<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title> 
    
    <link rel="stylesheet" href="../../css/primary/navigation_bar.css" />
    <link rel="stylesheet" href="../../css/primary/container.css" />
</head>

<body>

    <div class="body">
        <aside class="sub-menu">
            <ul class="sub-list">
                <li><a id="nav_bar_clicked" class="list-item" href="#" onclick="loadContent('../secundary/proyects/TWH.html', 'contex'); loadList(this);">Eon Voyage</a></li>
                <li><a class="list-item" href="#" onclick="loadContent('../secundary/proyects/category.html', 'contex'); loadList(this);">Categorias</a></li>
                <li><a class="list-item" href="#" onclick="loadContent('../secundary/proyects/nations.html', 'contex'); loadList(this);">Naciones</a></li>
                <li><a class="list-item" href="#" onclick="loadContent('../secundary/proyects/characters.html', 'contex'); loadList(this);">Personajes</a></li>
                <li><a class="list-item" href="#" onclick="loadContent('../secundary/proyects/weapons.html', 'contex'); loadList(this);">Armas</a></li>
                <li><a class="list-item" href="#" onclick="loadList(this);">Otros proyects...</a></li>
            </ul>
        </aside>

        <div class="contex"></div>
          
    </div>

    <script>
        loadContent('../secundary/proyects/TWH.html', 'contex');
    </script>

</body>
</html>