@import url(./colores.css);

.fondo {
    background-image: linear-gradient(#051327, #000);
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
}

.space-1 {
    --size: 2x;
    --space-layer: 
        4vw 50vh 0 #fff,
        18vw 88vh 0 #fff;

    width: var(--size);
    height: var(--size);
    background-color: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
}