@import url(./colores.css);

.index {
    margin: 0;
    color: var(--platinum);
    display: flex;
}

svg {
    width: 25px;
}

.search {
    right: 0;
    margin-right: 20px;
    position: absolute;
}

.slider {
    height: 100vh;
    margin-top: -50px;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: auto;
    top: -5%;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, var(--black) 40%, trasparent
    );
}

.slider .list .item .content {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .3s .5s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1.2s;
}

.slider .list .item.active p:nth-child(3) {
    animation-delay: 1.8s;
}

.arrows {
    position: absolute;
    top: 45%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: var(--black);
    border: none;
    font-family: "Raleway", sans-serif;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: var(--platinum);
    transition: .3s;
}

.arrows button:hover {
    background-color: var(--platinum);
    color: var(--black);
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px; 
    box-sizing: border-box;
    justify-content: right;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 125px;
    height: 200px;
    filter: brightness(.5);
    transition: .3s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.2);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}
