@import url(./colores.css);

* {
    padding: 0;
    margin: 0;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../../img/index/img5.jpg) no-repeat; /* Poner en un futuro */
    background-position: center;
    background-size: cover;
}

.login .contenedor {
    height: 450px;
    width: 400px;
}

.registro .contenedor {
    height: 580px;
    width: 400px;
}

.contenedor {
    position: relative;
    background-color: rgb(0, 0, 0, 35%);
    border: 1px solid var(--platinum);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor h2{
    font-size: 2.3rem;
    color: var(--platinum);
    text-align: center;
}

.input-contenedor {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid var(--platinum);
}

.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--platinum);
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.input-contenedor input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: var(--platinum);
}

.input-contenedor i {
    position: absolute;
    color: var(--platinum);
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.olvidar {
    margin: -15px 0 15px;
    font-size: .9rem;
    color: var(--platinum);
    display: flex;
    justify-content: center;
}

.olvidar label input {
    margin: 3px;
}

.olvidar label a {
    text-decoration: none;
    color: var(--platinum);
    transition: .3s;
}

.olvidar label a:hover {
    text-decoration: underline;
}

.terminos {
    font-size: .9rem;
    color: var(--platinum);
    display: flex;
    justify-content: center;
    margin: -10px 0 15px;
}

.terminos label a {
    text-decoration: none;
    color: var(--platinum);
    transition: .3s;
}

.terminos label a:hover {
    text-decoration: underline;
}

.terminos label input,
.olvidar label input {
    accent-color: var(--black);
} 


button {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background-color: var(--platinum);
    color: var(--black);
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;

    & a {
        color: var(--black);
        text-decoration: none;
    }
}

button:hover {
    opacity: .9;
    color: var(--platinum);
    background-color: var(--black);

    & a {
        color: var(--platinum);
    }
}

.registrar {
    font-size: .8rem;
    color: var(--platinum);
    text-align: center;
    margin: 20px 0 10px;
}

.registrar p a {
    text-decoration: none;
    color: var(--platinum);
    font-weight: bold;
    transition: .3s;
}

.registrar p a:hover {
    text-decoration: underline;
}