@import url(./colores.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background: var(--black);
    color: var(--platinum);
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
    position: absolute;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.contenedor {
    width: 100%;
    height: 100%;
    margin-top: 72px;
    position: absolute;
    z-index: 1;
}