* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: gray;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}

#contenedor {
    width: 100%;
    height: 100%;
    margin-top: 13.6%;
    z-index: 0;
    position: absolute;
}