@import url(./colores.css);

.menu {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: grid;
    border-radius: 10px;
    padding: 0px 15px;
    border-radius: 0;
    z-index: 1;

    & ul {
        border: 0;
        display: flex;
        padding: 0 2rem;
        position: relative;
        left: -2rem;
        width: calc(100% + 5rem);

        & li {
            display: inline-block;
            border-left: 1px solid var(--platinum);
            border-top: 1px solid var(--platinum);
            border-bottom: 1px solid var(--platinum);
            transform: skew(-25deg);
            position: relative;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
            font-size: 25px;
            line-height: 20px;
            padding: 10px;
            flex: 1 1 auto;
            background-size: 100% 200%;
            background-position: top center;
            text-align: center;
            transition: all .25s ease-in-out;

            &:hover {
                background-color: var(--jade);
                color: rgba(0, 0, 0, .75);
            }

            & a {
                padding: 1rem 0;
                transition: all .25s ease-in-out;
                display: block;
                text-decoration: none;
                color: var(--platinum);
                text-transform: uppercase;
                transform: skew(15deg); /* Efecto de tumbar las letras, 25 para que esten rectas*/
            }

            &:first-child {
                border-left: 0px solid var(--platinum);
                margin-left: -3%;
                padding-left: 1%;
            }

            &:last-child {
                border-right: 0px solid var(--platinum);
                margin-right: -2%;
            }
        }
    }
}

#menu_clicked {
    background-color: var(--castetlon);
    border-bottom: 0px;
}