.menu {
    position: fixed;
    top: 0;
    align-items: top;
    width: 100%;
    min-height: 80px;
    display: grid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 15px;
    border-radius: 0;
    background: gray;

    & ul {
        border: 0;
        display: flex;
        padding: 0 2rem;
        position: relative;
        left: -2rem;
        width: calc(100% + 4rem);

        & li {
            display: inline-block;
            border-left: 2px solid black;
            border-top: 3px solid black;
            border-bottom: 2px solid black;
            transform: skew(-25deg);
            position: relative;
            font-family: 'Lato';
            font-weight: 600;
            font-size: 25px;
            line-height: 20px;
            padding: 10px;
            flex: 1 1 auto;
            background-size: 100% 200%;
            background-position: top center;
            text-align: center;
            transition: all .25s ease-in-out;

            background-image: linear-gradient(to bottom,
                    transparent 50%,
                    rgba(162, 211, 156, 1) 50%,
                    rgba(162, 211, 156, 1) 95%,
                    rgba(124, 197, 118, 1) 95%);

            &:hover {
                background-position: bottom center;
                color: rgba(0, 0, 0, .75);
            }

            & a {
                padding: 1rem 0;
                transition: all .25s ease-in-out;
                display: block;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                transform: skew(15deg);
            }

            &:first-child {
                border-left: 0px solid black;
                margin-left: -4%;
            }

            &:last-child {
                border-right: 0px solid black;
                margin-right: -3%;
            }
        }
    }
}