#menu-lateral {
  display: flex;
  position: flex;
  width: 30%;
  flex: 0 0 auto;
  order: 0;
  border: 2px solid black;
}

.list-item {
    background: #000;
    color: #575757;
    text-align: center;
    height: auto;
    width: 100%;
    /*vertical-align: middle;*/
    line-height: 2.5em;
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    /*box-shadow: -2em 1.5em 0 #e1e1e1;*/
    text-decoration: none;
    transition: all .25s linear;
    
    &:hover {
      background-color: #ff6e42;
      color: #fffcfb;
      transform: translate(.9em, -.9em);
      transition: all .25s linear;
      /*box-shadow: -2em 2em 0 #e1e1e1;*/
      
      &:before, 
      &:after { 
        transition: all .25s linear; 
      }
      
      &:before {
        background: #b65234;
        width: 1em;
        top: .5em;
        left: -1em;
      }
      
      &:after {
        background: #b65234;
        width: 1em;
        bottom: -2.5em;
        left: 1em;
        height: 4em;
      }
    }
    
    &:before, 
    &:after {
      content: '';
      position: absolute;
      transition: all .25s linear;
      width: .5em;
    }
  
    &:after {
      height: 4em;
      background: #181818;
      bottom: -2.25em;
      left: 1.5em;
      transform: rotate(90deg) skew(0,45deg);
    }
    
    &:before {
      height: 2.5em;
      background: #121212;
      top: .25em;
      left: -.5em;
      transform: skewY(-45deg);
    } 
}