@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url(../../colores.css);

.cards_destacadas {
    margin-top: 5%;
    margin-left: 14%;
    position: relative;
    height: 420px;
    width: 320px;
    margin-bottom: 20px;
    perspective: 2000px;
    transform-style: preserve-3d;
}

.cards_destacadas label{
    position: absolute;
    width: 320px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform .55s ease-in-out;
}

.cards_destacadas .card_destacadas {
    position: relative;
    height: 420px;
    width: 320px;
    background-color: var(--castetlon);
    background-size: 320px 420px;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 30px 35px;
}

.card_destacadas .expand-button {
    display: flexbox;
    margin-top: -8%;
    opacity: .7;
    width: 40px;
    height: 40px;
    font-size: 35px;
    color: var(--platinum);
    filter: brightness(1.3);
    background: var(--black);
    border-radius: 50px;
}

.card_destacadas .expand-button:hover {
    color: var(--black);
    background-color: var(--platinum);
    transition: 0.7s;
}

.card_destacadas .infos {
    opacity: 0;
    display: none;
}

.card_destacadas .infos span {
    filter: brightness(1.2);
    display: block;    
}

.card_destacadas .infos .name {
    filter: brightness(1.2);
    text-align: start;
    font-size: 20px;
    font-weight: 200;
    color: var(--platinum);
    letter-spacing: 4px;
    margin-bottom: 20px;
    padding-left: 5%;
    transition: all .6s ease;
}

.card_destacadas .lorem {
    text-align: left;
    font-size: 15px;
    color: var(--platinum);
    letter-spacing: 3px;
}

.cards_destacadas .btn-details {
    width: 100%;
    height: 60px;
    margin: 160px auto;
    border-radius: 3px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--platinum);
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 700;
    transition: all .7s ease;
}

.card_destacadas .btn-details:hover {
    transform: scale(1.09);
}

.card_destacadas.expanded::before {
    content: '';
    background-color: rgb(0, 0, 0, 50%);
    opacity: .5;
}

.card_destacadas.expanded .expand-button {
    transform: rotate(180deg);
    transition: .4s;
}

.card_destacadas.expanded .infos {
    display: block;
    opacity: 1;
}


#s1:checked~.cards_destacadas #slide4,
#s2:checked~.cards_destacadas #slide5,
#s3:checked~.cards_destacadas #slide1,
#s4:checked~.cards_destacadas #slide2,
#s5:checked~.cards_destacadas #slide3 {
    box-shadow: 0 15px 30px rgb(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: var(--platinum); 
    --current-color2: var(--black);
}


#s1:checked~.cards_destacadas #slide5,
#s2:checked~.cards_destacadas #slide1,
#s3:checked~.cards_destacadas #slide2,
#s4:checked~.cards_destacadas #slide3,
#s5:checked~.cards_destacadas #slide4 {
    box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: var(--platinum); 
    --current-color2: var(--black);
}

#s1:checked~.cards_destacadas #slide1,
#s2:checked~.cards_destacadas #slide2,
#s3:checked~.cards_destacadas #slide3,
#s4:checked~.cards_destacadas #slide4,
#s5:checked~.cards_destacadas #slide5 {
    box-shadow: 0 25px 50px rgb(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: var(--jade); 
    --current-color2: var(--platinum);
}

#s1:checked~.cards_destacadas #slide2,
#s2:checked~.cards_destacadas #slide3,
#s3:checked~.cards_destacadas #slide4,
#s4:checked~.cards_destacadas #slide5,
#s5:checked~.cards_destacadas #slide1 {
    box-shadow: 0 20px 40px rgb(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: var(--platinum); 
    --current-color2: var(--black);
}

#s1:checked~.cards_destacadas #slide3,
#s2:checked~.cards_destacadas #slide4,
#s3:checked~.cards_destacadas #slide5,
#s4:checked~.cards_destacadas #slide1,
#s5:checked~.cards_destacadas #slide2 {
    box-shadow: 0 15px 30px rgb(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: var(--platinum); 
    --current-color2: var(--black);
}