@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url(../../colores.css);

.publicaciones {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.destacadas {
    position: absolute;
    height: 100%;
    align-items: center;
}

.lista-publicaciones {
    position: absolute;
    padding-top: 55%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

input {
    display: none;
}

.cards {
    margin-top: 5%;
    position: relative;
    height: 420px;
    width: 320px;
    margin-bottom: 20px;
    perspective: 2000px;
    transform-style: preserve-3d;
    z-index: 2;
}

.dots div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.dots div:nth-child(1) {
    background-color: var(--current-color1);
}

.dots div:nth-child(2) {
    background-color: aliceblue;
}

.dots div:nth-child(3) {
    background-color: aquamarine;
}
