@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url(../../colores.css);

.publicaciones {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 150px;
    overflow-x: hidden;
}

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    margin-right: 150px;
    background-color: rgb(0, 0, 0, 0); /* Color de fondo */
}

/* Cambiar el color del "thumb" (la parte deslizante) */
::-webkit-scrollbar-thumb {
    background-color: var(--platinum); /* Color del "thumb" */
    border-radius: 6px; /* Radio de borde del "thumb" */
}

.destacadas {
    position: absolute;
    height: 100%;
    align-items: center;
}

.lista-publicaciones {
    position: absolute;
    margin-top: 1100px;
    height: 100%;
    width: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

input {
    display: none;
}


.cards {
    scale: calc(0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}


.cards .card {
    margin-top: 35px;
    width: calc(30%);
    position: relative;
    height: 470px;
    background-color: var(--castetlon);
    border-radius: 10px;
    padding: 15px 15px;
}

.cards .image {
    position: relative;
    display: flex;
    justify-content: center;
}

.cards .image img {
    border-radius: 5px;
    height: 260px;
    width: 215px;
    transition: all .7s;
    z-index: 0;
}

.cards .image {
    position: relative;
    display: flex;
    justify-content: center;
}

.imgae img:hover {
    transform: scale(1.05);
}

.image .dots {
    margin-right: -10%;
    text-align: end;
}

.dots div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.dots div:nth-child(1) {
    background-color: blueviolet;
}

.dots div:nth-child(2) {
    background-color: aliceblue;
}

.dots div:nth-child(3) {
    background-color: aquamarine;
}

.card .infos {
    display: block;
    left: 0;
    right: 0;
}

.card .infos span {
    filter: brightness(1.2);
    display: block;    
}

.card .infos .name {
    filter: brightness(1.2);
    text-align: start;
    font-size: 20px;
    font-weight: 200;
    color: var(--platinum);
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .6s ease;
}

.card .lorem {
    text-align: left;
    font-size: 15px;
    color: var(--platinum);
    letter-spacing: 2px;
}

.cards .btn-details {
    width: 100%;
    height: 45px;
    border-radius: 2px;
    background-color: var(--jade);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--platinum);
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 200;
    transition: all .7s ease;
}

.card .btn-details:hover {
    transform: scale(1.04);
}


.card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin: 5px;
}

.card .actions i{
    font-size: 24px;
    transition: all .7s ease;
    color: var(--platinum);
}

.card .actions i:hover{
    transform: scale(1.3);
}