@import url(../../colores.css);

.publicaciones {
    padding-top: 4%;
    width: 100%;
    display: flex;
    text-align: center;
    overflow-y: inherit;
}

.destacadas {
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.carousel {
    margin-top: 2%;
    align-items: center;
    justify-items: center;
    display: flex;
    position: absolute;
}

.item-carousel {
    width: 200px;
    height: 250px;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 0;
    border-radius: 10px;
    background-size: contain;
}

.item-carousel-1 {
    height: 250px;
    opacity: 1;
    transform: translateX(200%);
    z-index: 5;
}

.item-carousel-2, .item-carousel-4 {
    height: 225px;
    width: 150px;
    opacity: 0.6;
    z-index: 4;
}

.item-carousel-2 {
    transform: translateX(50%);
}

.item-carousel-4 {
    transform: translateX(50%);
}

.item-carousel-3, .item-carousel-5{
    height: 200px;
    width: 150px;
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    opacity: 0.4;
    z-index: 3;
}

.item-carousel-3 {
    transform: translateX(-125%);
}

.item-carousel-5 {
    transform: translateX(25%);
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin: 25px  0;
    height: 100px;
}

.carousel-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    padding: 0 12px;
    text-transform: capitalize;
}