<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/secundary/club_socios/publicaciones.css" />
    <title>Document</title>
</head>
<body>
    <!-- https://www.youtube.com/watch?app=desktop&v=4FWyJCEQBrs HACER CARROUSEL EN HTML PARA LAS PUBLICACIONES -->
    <!-- https://www.campusmvp.es/recursos/post/como-personalizar-los-estilos-css-de-las-barras-de-scroll.aspx  PERSONALIZAR LA SCRROL BAR -->
    <!-- BUSCAR ALGUN VIDEO DE COMO PONER POST EN HTML PARA EL CARROUSEL, HASTA ENTONCES USAR IMAGENES-->

    
    <div class="publicaciones">
    
        <div id="destacadas">
            <h2>PUBLICACIONES DESTACADAS</h2>

            <div id="dest_carrousel">
                CARROUSEL
            </div>
        </div>

        
        <h2>PUBLICACIONES NORMALES</h2>

        <div id="pub_lista">

        </div>
    </div>

</body>
</html>