<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/secundary/club_socios/publicaciones.css" />
    
    <title>Document</title>

</head>
<body>

    <!-- https://www.youtube.com/watch?v=LBAThoUn3rU HACER CARROUSEL EN HTML PARA LAS PUBLICACIONES -->
    <!-- https://youtu.be/NbnSynwqplU?si=UODXtPuZCJKX6WBy PARTICULAS EN CSS -->
    <!-- https://elements.envato.com/es/vanderick-fantasy-game-font-76K5FJA?_ga=2.108011781.680894902.1713259122-1910407575.1713259122&language_code=es&utm_nooverride=1 POSIBLE FUENTE GUAPA-->

    <div class="publicaciones">
    
        
        <div class="destacadas">
            <h2>PUBLICACIONES DESTACADAS</h2>
            <div class="carousel">
                <img class="item-carousel item-carousel-1" src="../img/carrousel/img1.jpg" data-index="1"/>
                <img class="item-carousel item-carousel-2" src="../img/carrousel/img2.jpg" data-index="2"/>
                <img class="item-carousel item-carousel-3" src="../img/carrousel/img3.jpg" data-index="3"/>
                <img class="item-carousel item-carousel-4" src="../img/carrousel/img4.jpg" data-index="4"/>
                <img class="item-carousel item-carousel-5" src="../img/carrousel/img5.jpg" data-index="5"/>
            </div>
            <div class="carousel-controls"></div>
        </div>
        
        <!-- <h2>PUBLICACIONES NORMALES</h2> -->

        <div id="pub_lista">

        </div>
    </div>

</body>
</html>