<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/secundary/usuario/general.css" />

    <title>Document</title>
</head>
<body>
    <div class="general">
        <div class="usuario">
            <img src="../img/usuario/usuario.jpg" alt="">
            <span class="username">Username</span>
            <span class="categoria">Categoria 4</span>
            <br>
            <p>Registrado en <span class="registro">01/01/2024</span></p>
        </div>
        <div class="datos">
            <p>ESTE TEXTO ES DE PRUEBA</p>
        </div>
        <div class="actividad">
            A
        </div>
    </div>
</body>
</html>