<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- https://www.youtube.com/watch?v=GEXhlGH7ylE INSTALADOR -->
    <!-- https://www.youtube.com/watch?v=6OcAoXr40oE CONFIGURAR LA BARRA DE ARRIBA -->
    <!-- https://www.youtube.com/watch?v=2Nmi1sXu12U CONFIGURAR MODO OSCURO Y CLARO -->
    <!-- https://www.youtube.com/watch?v=xPgH1LbAa-Q CARDS ANIMADAS CON CSS -->

    <!-- https://elements.envato.com/es/vanderick-fantasy-game-font-76K5FJA?_ga=2.108011781.680894902.1713259122-1910407575.1713259122&language_code=es&utm_nooverride=1 POSIBLE FUENTE GUAPA-->

    <!-- 
        FORO 
        https://www.youtube.com/watch?v=Hzgqg4zVWdY MENSAJERIA ELECTRON 
    -->

    <!-- 
        API REST 
        https://www.youtube.com/watch?v=M7lhQMzzHWU 
        https://youtu.be/vTu2HQrXtyw?si=Nmrq3Dt_l4UPF8D8
        https://youtu.be/cXvDDvX16RM?si=MxMV3N2FCjzWBhW1 
        https://www.youtube.com/watch?v=0wTsLRxS3gA INICIO DE SESION SEGURO 
    
        CONSUMIR LA API REST
        https://www.youtube.com/watch?v=2Xm9P_tXtK8
        https://www.youtube.com/watch?v=k8xQcZz3ANE
    -->

    <!-- 
        APLICACION DE REPARTO IDEAS
        https://youtu.be/q_WkXGUn4ao?si=zOKmvnvBfSs2pwMM GOOGLE EN LA APP CON JS
    -->
    

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap">

    <!-- ICONOS -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'> <!-- Corazon -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'> <!-- Persona -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'> <!-- Casa -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-straight/css/uicons-thin-straight.css'> <!-- Flechas -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'> <!-- Ojo -->

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/fondo.css" />
</head>

<body>

    <div class="top-bar">
        <button>a</button>

        <div class="menu">
            <ul id="lista-menu">
                <li><a href="">Inicio</a></li>
                <li><a href="#" onclick="cargarContenido('./html/proyectos.html', 'contenedor'); configurarBorde(this);">SKAYA</a>
                </li>
                <li><a href="#" onclick="cargarContenido('./html/noticias.html', 'contenedor'); configurarBorde(this);">Noticias</a>
                </li>
                <li><a href="#" onclick="cargarContenido('./html/foro.html', 'contenedor'); configurarBorde(this);">Foro</a>
                </li>
                <li><a href="#" onclick="cargarContenido('./html/usuario.html', 'contenedor'); configurarBorde(this);">Usuario</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="fondo">
        <div class="space space-1"></div>
        <div class="space space-2"></div>
        <div class="space space-3"></div>
    </div>

    <div class="contenedor">
    </div>
    
    <!-- script para cargar el html en el contenedor indicado al clicar en las listas -->
    <script src="./js/cargar_html.js"></script>
    <script src="./js/fondo.js"></script>
</body>
</html>