<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/menu.css" />
</head>

<body>
    <nav class="menu">
        <ul id="lista-menu">
            <li><a href="#" onclick="cargarContenido('./html/proyectos.html', 'contenedor'); configurarBorde(this);">Juegos</a></li>
            <li><a href="#" onclick="cargarContenido('./html/club_miembros.html', 'contenedor'); configurarBorde(this);">Club Socios</a></li>
            <li><a href="#" onclick="cargarContenido('./html/rrss.html', 'contenedor'); configurarBorde(this);">Redes Sociales</a></li>
            <li><a href="#" onclick="cargarContenido('./html/usuario.html', 'contenedor'); configurarBorde(this);">Usuario</a></li>
        </ul>
    </nav>

    <div class="contenedor">
    </div>

    <!-- script para cargar el html en el contenedor indicado al clicar en las listas -->
    <script src="../controller/cargar_html.js"></script>

</body>
</html>