@import url(../../colores.css);

::-webkit-scrollbar {
    width: 5px;
    margin-right: 150px;
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--platinum);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--jade);
}

.jugar {
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    background-color: var(--jade);
    border: 1px solid var(--platinum) ;
    margin-left: 5px;
    margin-top: 20px;
    z-index: 1;
}

.info {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info-lore {
    text-align: start;
    margin: 40px;
}

.comunidad {
    border-left: 1px solid var(--platinum);
    width: 40%;
    height: 100%;
    background-color: var(--castetlon);
    z-index: 2;
}

