@import url(../../common/colors.css);


.nations {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.card[for="c1"] {
    background-image: url(../../../../../../assets/images/skaya/elementos/agua.jpg);
}

.card[for="c2"] {
    background-image: url(../../../../../../assets/images/skaya/elementos/fuego.jpg);
}

.card[for="c3"] {
    background-image: url(../../../../../../assets/images/skaya/elementos/vida.jpg);
}

.card[for="c4"] {
    background-image: url(../../../../../../assets/images/skaya/elementos/roca.jpg);
}
