<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/secundary/proyectos/elementos.css" />
    <link rel="stylesheet" href="css/secundary/proyectos/botones.css" />
    
</head>
<body>

    <section class="slider-container">
        <div class="slider-images">
            <div class="slider-image active">
                <img src="../img/elementos/agua.jpg" alt="1">
                <h1>Agua</h1>
                <div class="details">
                    <p><!-- poner descripccion del elemento --></p>
                </div>
            </div>

            <div class="slider-image">
                <img src="../img/elementos/fuego.jpg" alt="2">
                <h1>Fuego</h1>
                <div class="details">
                    <p><!-- poner descripccion del elemento --></p>
                </div>
            </div>

            <div class="slider-image">
                <img src="../img/elementos/aire.jpg" alt="3">
                <h1>Aire</h1>
                <div class="details">
                    <p><!-- poner descripccion del elemento --></p>
                </div>
            </div>

            <div class="slider-image">
                <img src="../img/elementos/bosque.jpg" alt="4">
                <h1>Aire</h1>
                <div class="details">
                    <p><!-- poner descripccion del elemento --></p>
                </div>
            </div>

            <div class="slider-image">
                <img src="../img/elementos/electricidad.jpg" alt="5">
                <h1>Aire</h1>
                <div class="details">
                    <p><!-- poner descripccion del elemento --></p>
                </div>
            </div>

            <div class="slider-image">
                <img src="../img/elementos/roca.jpg" alt="6">
                <h1>Aire</h1>
                <div class="details">
                    <p><!-- poner descripccion del elemento --></p>
                </div>
            </div>
        </div>        
    </section>
    
</body>
</html>