<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/secundary/proyectos/elementos.css" />
    <link rel="stylesheet" href="css/secundary/proyectos/botones.css" />
    <link rel="stylesheet" href="css/secundary/proyectos/letras.css" />

</head>

<body>

    <section class="slider-container">
        <div class="slider-images">
            <div class="slider-img">
                <img src="../img/elementos/agua.jpg" alt="1">
                <div class="details">
                    <p>
                        <h1 class="agua">Agua</h1><br>
                        Este elemento tiene muchas habilidades utiles <br>
                        Prueba a combinarlo con mas de si misma consonancia
                    </p>
                </div>
            </div>
            <div class="slider-img">
                <img src="../img/elementos/fuego.jpg" alt="2">
                <div class="details">
                    <p>
                        <h1 class="fuego">Fuego</h1><br>
                        Este elemento tiene muchas habilidades utiles <br>
                        Prueba a combinarlo con mas de si misma consonancia
                    </p>
                </div>
            </div>
            <div class="slider-img">
                <img src="../img/elementos/aire.jpg" alt="3">
                <div class="details">
                    <p>
                        <h1 class="aire">Aire</h1><br>
                        Este elemento tiene muchas habilidades utiles <br>
                        Prueba a combinarlo con mas de si misma consonancia
                    </p>
                </div>
            </div>
            <div class="slider-img">
                <img src="../img/elementos/bosque.jpg" alt="4">
                <div class="details">
                    <p>
                        <h1 class="vida">Vida</h1><br>
                        Este elemento tiene muchas habilidades utiles <br>
                        Prueba a combinarlo con mas de si misma consonancia
                    </p>
                </div>
            </div>
            <div class="slider-img">
                <img src="../img/elementos/electricidad.jpg" alt="5">
                <div class="details">
                    <p>
                        <h1 class="electricidad">Electricidad</h1><br>
                        Este elemento tiene muchas habilidades utiles <br>
                        Prueba a combinarlo con mas de si misma consonancia
                    </p>
                </div>
            </div>
            <div class="slider-img">
                <img src="../img/elementos/roca.jpg" alt="6">
                <div class="details">
                    <p>
                        <h1 class="roca">Roca</h1><br>
                        Este elemento tiene muchas habilidades utiles <br>
                        Prueba a combinarlo con mas de si misma consonancia
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="../controller/elementos.js"></script>

</body>
</html>