<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/secundary/proyectos/TWH.css" />
    <link rel="stylesheet" href="css/secundary/proyectos/botones.css" />
    
</head>
<body>
    
    <div class="info">
        
        <div class="jugar">
            <button id="Bjugar">
                JUGAR
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        
            <button id="Binfo">
                INFORMACION
            </button>
        </div>

        informacion
    </div>

    <div class="comunidad">
        aqui va la comunidad
    </div>
</body>
</html>